/* 
.section 
{
    
} */

 .input{
     border-color: blue;
     border-radius: 100%;
 }
  
h2 {
    font-family: Spoof,Helvetica,Arial,serif;
    font-feature-settings: "zero","ss02","ss05";
    font-weight: 700;
    position: relative;
}

.mapa
{
width: 100%;
}